body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family:"Merriweather",sans-serif;
}
h1{
  font-size: 6rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento",cursive;
  color: #66BFBF;
}
.profile{
  border-radius: 100%;

}
h2{
  font-family:"Montserrat",sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family:"Montserrat",sans-serif;
  color: #66BFBF;
}
p{
  line-height: 2;
}
hr{
  border: dotted;
  border-color:#576F72;
  border-width: 6px;
  border-bottom: none;
  width:4%;
  margin: 100px auto;
}
a{
  color: #2C3639;
  font-family:"Montserrat",sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color:#EAF6F6;
}
.copyright{
  color: #EAF6F6;
  padding: 20px 0;
}
.computer{
  border-radius: 90%;
}
.top-container{
  background-color: #CEE5D0;
  position: relative;
  padding-top: 100px;

}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;

}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.computer{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.plant{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.profile{
  width: 40%;
  margin: auto;
}
.middle-container{
  margin:100px 0;
}
.bottom-container{
  margin: 100px 0;
  background-color: #66BFBF;
  padding:50px 0 40px;
}
.intro{
  width: 70%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #1c6fa6;
  background-image: -webkit-linear-gradient(top, #1c6fa6, #11999e);
  background-image: -moz-linear-gradient(top, #1c6fa6, #11999e);
  background-image: -ms-linear-gradient(top, #1c6fa6, #11999e);
  background-image: -o-linear-gradient(top, #1c6fa6, #11999e);
  background-image: linear-gradient(to bottom, #1c6fa6, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:"Montserrat",sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
